<!--
  Practicalli Custom 404 Page
-->


{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>Page Not Found</h1>

<p>
  Sorry we have arrived at a page that does not exist...
</p>

<p>
  Try use the Search bar at the top of the page
</p>

<p>
  <a href="https://practical.li/spacemacs">
    <img src="https://raw.githubusercontent.com/practicalli/graphic-design/live/book-covers/practicalli-spacemacs-book-banner.png" alt="Practicalli Spacemacs book cover">
  </a>
</p>


{% endblock %}
