@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* Use Ubuntu font as default font for all content */
body {
    font-family: Ubuntu;
    font-size: 1.8rem;
}

.book-body h1,.book-body h2,.book-body h3,.book-body h4,.book-body h5,.book-body h6 {
    font-family : "Ubuntu", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-body p, .book-body div, .book-body span, .summary, .book-body li, .summary li a  {
    font-family : "Ubuntu", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
}

/* .book .book-body .page-wrapper .page-inner section.normal code { */
/* } */

/* Center images and tables */
img, div, table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Over-ride the wide-page plugin  */
.book .book-body .page-wrapper .page-inner {
    max-width: 72%;
}


/* Style code blocks  */
.markdown-section pre>code {
    font-family: "Ubuntu Mono", Consolas, Menlo, Courier, monospace;
    background-color: #fdf6e4;
    font-size: 1.1em;
    margin: 0;
    padding: 0.1em 0.1em;
 }

/* Style pre-formatted section - surrounding code blocks */
.markdown-section pre {
    background-color: #fdf6e4;
}


/* Style inline blocks  */
.markdown-section p>code {
    font-family: "Ubuntu Mono", Consolas, Menlo, Courier, monospace;
    background-color: #f7f7f7;
    /* background-color: #fdf6e4; */
    color: #702b70;            /* Spacemacs purple*/
    font-size: 1.1em;
    margin: 0;
    padding: 0.1em 0.1em;
}

.CodeMirror pre {
    font-size: 1.8em;
}


/* Deprecated styles */

/* Show keybindings to look like keys on a keyboard */
kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #000000;
    background-color: #f7f7f7;
}
